.horizontal-break {
    width: 100%;
    border-top: 1px solid lightgray;
    /* height: 1px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/home-images/IMG_7768.JPG");
}

.checkout-accordion {
    width: 65%;
}

.checkout-order-header {
    width: 50%;
    margin: 20px 0;
}

.order-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-item-name {
    width: 75%;
    text-align: left;
}

.order-item-price {
    width: 25%;
    text-align: right;
    font-weight: bold;
}

.error-message {
    display: flex;
    justify-content: center;
    background-color: rgba(225, 40, 40, 0.6);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.checkout-background {

    background-image: url("../../images/home-images/IMG_7768.JPG");
    background-color: gray;
    color:white;
    height:900px;
  }