.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    text-align: left;
    background-color: white;
    width: 100%;
    max-width: 800px;
}

.contact-page-form-group {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-label {
    font-size: 20px;
}

.form-submit {
    margin-bottom: 25px;
    max-width: 900px;
}