.home-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-img2{
    float:right;
}

.carousel{
    background-color: grey;
}


.home-page {

    background-image: url("../../images/home-images/IMG_7768.JPG");
    background-color: gray;
    color:white;
  }

.hours{
    background-color:rgba(255, 255, 255, 0.8);
}