.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(241, 221, 175);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.info-name {
    font-size: 75px;
    height: 500px;
    padding-top: 175px;
    font-family: "black pearl";
}

.hour-info {
    height:500px;
    padding-top: 25px;
    font-size: 50px;
    font-family:"black pearl";
}

.info-header {
    font-size: 60px;
    font-family:"black pearl";
    padding-top: 50px;
}

.info-img{
    width: 550px;
    height:500px;;
}

.meal-info {
    height:500px;
    padding-top: 150px;
    font-size:40px;
    font-family:"black pearl";
}

.paragraphs {
    font-family: "black pearl";
    text-align: justify;
    font-size: 30px;
}

.bottom-left-info-page {
    float: left;
    font-family: "black pearl";
    font-size: 18px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
}

.bottom-right-info-page {
    float: right;
    font-family: "black pearl";
    font-size: 18px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
}

.info-headers {
    font-weight: bold;
    font-family: "black pearl";
    color:black;
}

.cristo-img {
    padding-top: 175px;
}