.bottom-left-info-page {
    float: left;
    font-family: "black pearl";
    font-size: 18px;
    width: 45%;
}

.bottom-right-info-page {
    float: right;
    font-family: "black pearl";
    font-size: 18px;
    width: 50%;
}

.dine-paragraph {
    color: black;
    background-color: white;
    opacity: 0.75;
    height: 300px;
    font-family: "blackPearl";
    /* text-align: center;  */
}

.dine-down-info-page {
    background-image: url("../../images/info-images/blue-bayou-restaurant-00.jpeg");
    height: 300px;
    width: 75%;
    font-size: 30px;
    background-color: gray;
    color: black;
    margin-bottom: 15px;
}

.orleans-paragraph {
    color: black;
    background-color: white;
    opacity: 0.7;
    height: 300px;
    font-family: "blackPearl";
}

.new-orleans-info-page {
    background-image: url("../../images/info-images/new_orleans.jpeg");
    height: 300px;
    width: 75%;
    font-size: 30px;
    background-color: gray;
    color: white;
    margin-bottom: 15px;
}

.tastes-paragraph {
    color: black;
    background-color: white;
    opacity: 0.6;
    height: 600px;
    font-family: "blackPearl";
}

.big-tastes-info-page {
    background-image: url("../../images/info-images/dining_view.jpeg");
    height: auto;
    width: 75%;
    font-size: 30px;
    background-color: gray;
    color: white;
    margin-bottom: 15px;
}

.contact-page-div {
    align-items: center;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.contact-page-form-group {
    margin: 15px;
}

.info-headers {
    font-weight: bold;
    font-family: "black pearl";
    color:black;
    background-color: white;
    opacity: 0.8;
    width: 75%;
}

.info-page {

    background-image: url("../../images/home-images/IMG_7766.JPG");
    background-color: gray;
  }