.menu-page-container {
    width: 100%;
    height: 100%;
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/home-images/IMG_7768.JPG");
}

.menu-card-container {
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

.menu-cart {
    position: sticky !important;
    max-width: 50px;
    top: 12%;
    left: 90%;
    background-color: rgba(95, 158, 160, 1);
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
}

.menu-cart:hover {
    background-color: rgb(84, 139, 140);
}

.shopping-cart-image {
    max-height: 30px;
    max-width: 30px;
}

.cart-quantity {
    position: absolute !important;
    top: -5%;
    right: 1%;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-overlay {
    position: absolute !important;
}

.fix-position {
    position: fixed !important;
}