body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  position: relative !important;
}

.bottom-left-info-page {
  float: left;
}

.bottom-right-info-page {
  float: right;
}

.dine-down-info-page {
  background-image: url("images/info-images/blue-bayou-restaurant-00.jpeg");
  background-color: gray;
  color:white;
}

.new-orleans-info-page {
  background-image: url("images/info-images/new_orleans.jpeg");
  background-color: gray;
  color:white;
}

.big-tastes-info-page {
  background-image: url("images/info-images/dining_view.jpeg");
  background-color: gray;
  color:white;
}

.contact-page-div {
  align-items: center;
  width:50%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.contact-page-form-group {
  margin: 15px;
}
